<%= simple_form_for [@content, message],
 html: { data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f| %>

  <div class="input-group mb-3 w-100">
    <div class="form-floating">
      <%= f.input :user_question, label: false, wrapper: false, class: "round-input" %>
      <%= f.label :user_question, "Your question" %>
    </div>
    <%= f.submit "Ask AI", id: "new-question-button", class: "green-round-button" %>
  </div>
<% end %>
