<div id="<%= dom_id(message) %>" class="message">
  <%= turbo_stream_from dom_id(message) %>

  <p class="user-question"><%= message.user_question %></p>
  <p class="ai-answer"><%= message.ai_answer || "..." %></p>
</div>
