<div id="message_<%= message.id %>" class="message">
  <p class="user-question"><%= message.user_question %></p>
  <% if message.ai_answer.present? %>
    <p class="ai-answer"><%= message.ai_answer %></p>
  <% else %>
    <span class="chat-animation"></span>
  <% end %>
</div>
