<div id="message_<%= message.id %>" class="message">
  <p class="user-question"><%= message.user_question %></p>
  <p class="ai-answer">
    <%= message.ai_answer.present? ? message.ai_answer : "..." %>
  </p>
</div>
