
<%= turbo_frame_tag :chat do %>
<%= turbo_stream_from "messages_for_content_#{@content.id}" %>
<h1 id="ai-title">Ask your content anything</h1>
  <div class="chat-container">

    <!-- Changez l'id de "messages" vers "message" ou ajustez le controller -->
    <div id="messages">
      <%= render @messages %>
    </div>
    </div>
    <%= render "form", message: @message %>

  
<% end %>
