
<div class="container-custom">
<div class="container chatbot">
  <h1>Ask AI Anything</h1>
  <div id="messages">
    <%= render @messages %>
  </div>
  <%= render "form", message: @message %>
</div>
</div>
