<%= form_with model: @content, local: true do |form| %>
  <div class="row mt-5">
    <div class="col-6 mb-3">
      <%= form.url_field :url, class: 'form-control', placeholder: 'Entrez une URL https://exemple.com', required: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <%= form.submit 'Commencez maintenant', class: 'btn btn-primary w-100' %>
    </div>
  </div>
<% end %>
