<div>
  <h1>Modifier le contenu</h1>
  <%= turbo_frame_tag :content_title do %>
    <%= simple_form_for @content do |f| %>
    <div class="edit-content">
      <%= f.text_area :name, label: "Titre", class: "edit-input" %>
      <%= f.submit "EDIT", class: "green-round-button" %>
      </div>
    <% end %>
  <% end %>
</div>
