
<div class="container-custom">
<div class="frame glow-light">
  <div class="progress-bar">
    <div class="progress" style="width: 10%;"></div>
  </div>
  <div class="results-content">
<h1>Congratulations!<br>
You’ve completed the quizz.</h2>
<br>
  <h2>You scored <%= @questions.where(validated: true).count %> / <%=@questions.count%></h2>
 <br>
    <%= link_to "REDO QUIZZ", content_question_path(@content), class: "green-round-button" %>


</div>
</div>
