<div class="container">
<h1>À propos de <%= @content.title %> </h1>
<p><%= @content.description %></p>
<!-- CSS à faire pour désigner le bouton-->
<%= link_to 'Retour à tous mes contenus', contents_path, class: 'custom-button' %>
</div>
