// Define variables for your color scheme

// Nos couleurs !:
$red: #E5484D;
$green: #0D9784;
$gray: #1F1F1F;
$white: #FFFFFF;
$dark: #0D0D0D;
$light-dark: #878787;

$light-gray: #D9D9D9;



// Les couleurs par défault du site, NE PAS ENLEVER (ils sont dans des méthodes)! :

$orange: #E67E22;
$yellow: #FFC65A;
$blue: #0D6EFD;
