
<br>
<div class="container-custom">

<button class="answer-button">
  <div>

  <span class="answer-letter">B</span>
  </div>
  Overcoming five hindrances to mental

</button>

<br>
    <h1>main page bouton "START NOW"</h1>
    <div class="start-now-button">
      <input type="button" value="START NOW"/>
    </div>

    <h1>main page bouton "Enter Url"</h1>
    <div class="enter-url">
      <input type="button" value="Enter URL"/>
    </div>



<%# La frame qui contient les quizz le chat et les notes %>
<br>
<div class="frame glow-light">
  <div class="progress-bar">
    <div class="progress" style="width: 10%;"></div>
  </div>

</div>

<div class="box">


</div>

<div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/yHCtfU3syM4?si=9qiKpypLXiMW32_Z"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        controls=0
        showinfo=0
        frameborder="0"
        modestbranding=1
        allowfullscreen>
      </iframe>
    </div>
</div>





  </div>
