
<br>
<div class="container-custom">


<%# QUIZZ ANSWER %>

<button class="answer-button">
  <div>
    <span class="answer-letter">B</span>
  </div>
  Overcoming five hindrances to mental
</button>

<br />


<!-- INPUT -->

  <input class="round-input" type="url" name="website-url" placeholder="URL"/>


<%# QUIZZ ANSWER %>

<br>
<br>

<!-- BOUTON BIG ROUND -->

   <button class="big-round-button">START NOW</button>

<!-- BOUTON SMALL ROUND -->
<br>
<br>

  <button class="small-round-button" type="button">TEXT</button>

<br>
<br>

  <button class="small-round-button active" type="button">TEXT</button>

<br>
<br>

<!-- BOUTON SHOW NEXT QUESTION -->

  <button class="green-round-button" type="button">NEXT QUESTION</button>

<br>
<br>




<%## FRAME QUIZZ CHAT NOTES %>

<div class="frame glow-light">
  <div class="progress-bar">
    <div class="progress" style="width: 10%;"></div>
  </div>
  YOUR CONTENT HERE
</div>


<%# ## FRAME QUIZZ CHAT NOTES %>




<br>

<div class="content-card glow-light">
  <%= image_tag("thumbnail_doac.jpg", alt: "DOAC")%>
  <div class="content-card-infos">
    <div>
      <h2>Title here</h2>
<button class="small-round-button">START LEARNING</button>
    </div>

  </div>
</div>



<div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/yHCtfU3syM4?si=9qiKpypLXiMW32_Z"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        controls=0
        showinfo=0
        frameborder="0"
        modestbranding=1
        allowfullscreen>
      </iframe>
    </div>









<!-- SUMMARY TEXT -->
    <div class="summary-text">
      <h1>Mastery through Mental Discipline</h1>
      <h2>Partie 1 : C'est pas gentil d'être méchant</h2>
      <h3>Master Sha Hengyi emphasizes that breaking physical objects like bricks is not about strength but about extreme focus. He uses this metaphor to delve into deeper psychological teachings on overcoming life’s obstacles.</h3>
    </div>


</div>

<br>
<%# BOX DATA %>
<%# ATTENTION: Ne doit pas etre dans le "container-custom" car sinon il ne prend pas toute la largeur de l'ecran %>

<div class="box-data-container">

            <div class="box-data">
                <h3>Powered by</h3>
                <%= image_tag("openai_logo.png", alt: "OpenAI Logo")%>
            </div>
             <div class="box-data">
                <h3 class="number">50%</h3>
                <p>Better retention</p>
            </div>
             <div class="box-data">
                <h3>Trusted By</h3>
                <%= image_tag("le_wagon_logo.png", alt: "Le Wagon Logo")%>
            </div>
</div>

<%# BOX DATA %>
