

<div class="container-custom">

<button class="answer-button">
  <div>

  <span class="answer-letter">B</span>
  </div>
  Overcoming five hindrances to mental

</button>


    <h1>main page bouton "START NOW"</h1>
    <div class="start-now-button">
      <input type="button" value="START NOW"/>
    </div>

    <h1>main page bouton "Enter Url"</h1>
    <div class="enter-url">
      <input type="button" value="Enter URL"/>
    </div>

    <h1>show bouton "summary activé"</h1>
    <div class="active-summary">
      <input type="button" value="SUMMARY"/>
    </div>

    <h1>show bouton "summary désactivé"</h1>
    <div class="unactivated-summary">
      <input type="button" value="SUMMARY"/>
    </div>
  </div>
