<!-- bouton en html sans bootstrap-->
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

</body>
  <div class="container">
    <h1>main page bouton "START NOW"</h1>
    <div class="start-now-button">
      <input type="button" value="START NOW"/>
    </div>

    <h1>main page bouton "Enter Url"</h1>
    <div class="enter-url">
      <input type="button" value="Enter URL"/>
    </div>
  </div>
</body>
