

<div class="container-custom">

<button class="answer-button">
  <div>

  <span class="answer-letter">B</span>
  </div>
  Overcoming five hindrances to mental

</button>
<br />
<!-- BOUTON START -->
<div>
  <button class="start-now-button" type="button">TEXT</button>
</div><br />

<!-- BOUTON FORMULAIRE ET RECHERCHE -->
<div class="url-input-component">
  <input type="url" name="website-url" placeholder="URL"/></div>
  <br />

<!-- BOUTON SMALL ROUND -->
<div>
  <button class="small-round-button" type="button">TEXT</button>
</div><br />

<!-- BOUTON SHOW NEXT QUESTION -->
<div>
  <button class="next-question" type="button">NEXT QUESTION</button>
</div><br />


<!-- SUMMARY TEXT -->
    <div class="summary-text">
      <h1>Mastery through Mental Discipline</h1>
      <h2>Partie 1 : C'est pas gentil d'être méchant</h2>
      <h3>Master Sha Hengyi emphasizes that breaking physical objects like bricks is not about strength but about extreme focus. He uses this metaphor to delve into deeper psychological teachings on overcoming life’s obstacles.</h3>
    </div>
</div>
