

<div class="container-custom">

<button class="answer-button">
  <div>

  <span class="answer-letter">B</span>
  </div>
  Overcoming five hindrances to mental

</button>

<!-- BOUTON START -->
    <div class="start-now-button">
      <input type="button" value="START NOW"/>
    </div><br />

<!-- BOUTON FORMULAIRE ET RECHERCHE -->
    <div class="input-form">
      <input type="button" value="Enter URL"/>
    </div><br />

<!-- BOUTON SHOW SOMMAIRE -->
    <div class="active-summary">
      <input type="button" value="SUMMARY"/>
    </div>

    <div class="unactivated-summary">
      <input type="button" value="SUMMARY"/>
    </div><br />

<!-- BOUTON SHOW QUIZZ -->
    <div class="active-quizz">
      <input type="button" value="QUIZZ"/>
    </div>

    <div class="unactivated-quizz">
      <input type="button" value="QUIZZ"/>
    </div><br />

<!-- BOUTON SHOW ASK AI -->
    <div class="active-ask-ai">
      <input type="button" value="ASK AI"/>
    </div>

    <div class="unactivated-ask-ai">
      <input type="button" value="ASK AI"/>
    </div><br />

<!-- BOUTON SHOW NOTES -->
    <div class="active-notes">
      <input type="button" value="NOTES"/>
    </div>

    <div class="unactivated-notes">
      <input type="button" value="NOTES"/>
    </div><br />

<!-- BOUTON SHOW NEXT QUESTION -->
    <div class="next-question">
      <input type="button" value="NEXT QUESTION"/>
    </div><br />

<!-- SUMMARY TEXT -->
    <div class="summary-text">
      <h1>Mastery through Mental Discipline</h1>
      <h2>Partie 1 : C'est pas gentil d'être méchant</h2>
      <h3>Master Sha Hengyi emphasizes that breaking physical objects like bricks is not about strength but about extreme focus. He uses this metaphor to delve into deeper psychological teachings on overcoming life’s obstacles.</h3>
    </div>
</div>
