// SCSS avec tes variables de couleurs définies ailleurs
// Exemple : $gray, $white, $dark, $light-dark, $green

// BOUTON START
.big-round-button {
  color: $gray;
  background-color: $white;
  border-radius: 33px;
  border: none;
  font-size: 11px;
  font-family: "Inter", sans-serif;
  padding: 5px 25px;
  text-align: center;
  cursor: pointer;
  display: block;
  width: fit-content;
}

// BOUTON FORMULAIRE ET RECHERCHE
.round-input {
  color: $light-dark;
  background-color: $dark;
  border-radius: 33px;
  border: 1px solid $white;
  font-size: 11px;
  font-family: "Inter", sans-serif;
  padding: 5px 15px;
  text-align: left;
  padding-left: 12px;
  padding-top: 3px;
  cursor: pointer;
  display: block;
  width: fit-content;
}

// BOUTON SMALL ROUND
.small-round-button {
  color: $gray;
  background-color: $white;
  border-radius: 33px;
  border: none;
  font-size: 12px;
  padding: 5px 30px;
  font-family: "Inter", sans-serif;
  text-align: center;
  cursor: pointer;
  text-decoration: none;

  display: block;
  width: fit-content;

  .card {
    margin-top: 10px;
  }

  display: inline-flex;
  justify-content: center;
  align-items: center;

}

.small-round-button-invisible {
  color: $white;
  background-color: $black;
  border-radius: 33px;
  border: none;
  font-size: 12px;
  padding: 5px 30px;
  font-family: "Inter", sans-serif;
  text-align: center;
  cursor: pointer;
  text-decoration: none;

  display: block;
  width: fit-content;


  .card {
    margin-top: 10px;
  }

  display: inline-flex;
  justify-content: center;
  align-items: center;

}

// BOUTON SHOW NEXT QUESTION
.green-round-button{
  color: $white;
  background-color: $green;
  border-radius: 33px;
  border: none;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  padding: 5px 15px;
  text-align: center;
  cursor: pointer;
  display: block;
  width: fit-content;
  text-decoration: none;
}

.btn-active {
  color: $white;
  background-color: $dark;
  border-radius: 33px;
  border: 1px solid $white;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  padding: 5px 15px;
  text-align: center;
  cursor: pointer;
  display: block;
  width: fit-content;
}

.button-row button {
  width: 120px;
  height: 30px;
  text-align: center;
  padding: 5px 10px;
  margin: 0;
}

.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.button-row-tag {
  display: flex;
  align-items: center;
  padding: 0px;
  font-size: 12px;
}

.video-title {
  margin-top: 15px;
  font-size: 20px;
  font-family: "Inter", sans-serif, bold;
  font-weight: medium;
}

.search-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.search-input {
  width: 100%;
  padding: 15px 20px 15px 60px; /* padding-left pour laisser place à l'icône */
  border: 1px solid #ffffff;
  border-radius: 40px;
  background-color: $dark;
  color: $white;
  font-size: 16px;
  outline: none;
  box-sizing: border-box; /* Important pour que le width: 100% fonctionne correctement */
}

.search-input::placeholder {
  color: #666;
}

.search-icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none; /* Permet de cliquer à travers l'icône sur l'input */
  opacity: 0.7; /* Optionnel : pour un effet plus subtil */
}

/* Optionnel : effet hover sur le container */
.search-container:hover .search-icon {
  opacity: 1;
}

.search-input:focus {
  border-color: #555;
}

.search-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px $dark inset !important; // Remplace $dark par ta couleur de fond souhaitée
  -webkit-text-fill-color: white !important; // Remplace $green par ta couleur de texte souhaitée
  transition: background-color 9999s ease-in-out 0s;
}

.edit-custom-button {
  border: none;
  padding: none;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
  display: block;
  margin: none;
}

.red-round-button {
  color: $white;
  background-color: #e74c3c;
  border-radius: 33px;
  border: none;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  padding: 5px 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: block;
  width: 120px;
  height: 30px;
}

.trash-button {
  color: #e74c3c;
}

.edit-input {
  width: 100%;
  padding: 0 20px;
  height: 50px;
  font-size: 16px;
  color: #eee;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 999px;
  box-sizing: border-box;

  &::placeholder {
    color: #aaa;
    font-style: normal;
  }

  &:focus {
    outline: none;
    border-color: #fff;
    box-shadow: none;
  }
}

#update-button {
  margin-left: auto;
}

