// SCSS avec tes variables de couleurs définies ailleurs
// Exemple : $gray, $white, $dark, $light-dark, $green

// BOUTON START
.big-round-button {
  color: $gray;
  background-color: $white;
  border-radius: 33px;
  border: none;
  font-size: 11px;
  font-family: "Inter", sans-serif;
  padding: 5px 25px;
  text-align: center;
  cursor: pointer;
}

// BOUTON FORMULAIRE ET RECHERCHE
.round-input {
  color: $light-dark;
  background-color: $dark;
  border-radius: 33px;
  border: 1px solid $white;
  font-size: 11px;
  font-family: "Inter", sans-serif;
  padding: 5px 15px;
  text-align: left;
  padding-left: 12px;
  padding-top: 3px;
  cursor: pointer;
}

// BOUTON SMALL ROUND
.small-round-button {
  color: $gray;
  background-color: $white;
  border-radius: 33px;
  border: none;
  font-size: 9px;
  padding: 5px 15px;
  font-family: "Inter", sans-serif;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

// BOUTON SHOW NEXT QUESTION
.green-round-button{
  color: $white;
  background-color: $green;
  border-radius: 33px;
  border: none;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  padding: 5px 15px;
  text-align: center;
  cursor: pointer;
}

.active {
  color: $white;
  background-color: $dark;
  border-radius: 33px;
  border: 1px solid $white;
  font-size: 9px;
  font-family: "Inter", sans-serif;
  padding: 5px 15px;
  text-align: center;
  cursor: pointer;
}

.button-row button {
  width: 73px;
  height: 26px;
  text-align: center;
}

.button-row {

  display: flex;
  justify-content: space-between;
}
