.content-card {
  background: $dark;
  border-radius: 8px;
  border: 2px solid $gray;
  flex-shrink: 0;
}

.content-card > img {
  height: 140px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.content-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;

}

.content-card-infos a {
  margin-bottom: 10px;
  display: block;
  width: fit-content;
}


.content-card .content-card-infos {
  padding: 16px;
  border-radius: 8px;
}



.content-carousel {
  position: relative;
  margin-inline: -7%;

}

.content-row {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 1rem 0;
  padding-left: 5.8%;

  .content-card {
    width: 250px;


  }

  // Style de la scrollbar
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none; // Firefox
  -ms-overflow-style: none; // IE and Edge

}

.progress-bar-content {
  height: 6px;
  width: 100%;
  background: rgba($green, 0.3);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  top: 0;
  left: 0;
  color: #fff;
}

.progress-percent {
  margin-bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

.progress-content {
  height: 100%;
  background: $green;
  transition: width 0.4s cubic-bezier(.4,0,.2,1);
  color: #fff;
  border-radius: 0px;
}
