.chat-container {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.chatbot {
  background: $dark;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  #questions {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }
}

  .user-question, .ai-answer {
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    max-width: 70%;
    width: fit-content;
    word-wrap: break-word;
    border: 1px solid $light-gray;
  }

  .user-question {
    align-self: flex-end;
    color: $light-gray;
    margin-left: auto;
  }

  .ai-answer {
    align-self: flex-start;
    background: $gray;
  }

  .input-group {
    margin-top: auto;
  }
  // .input-group {

  //   margin-top: auto;
  // }
#ai-title {

  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
