// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "thumbnail";
@import "quizz";


.container-custom {
  width: 87%;
  margin-left: 25px;
  margin-right: 25px;
}

@import "buttons";
@import "lecteur_video";
@import "frame";
@import "box_data";
@import "content_card";
@import "hero";

.glow {
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.35);
}
.glow-light {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.10);
}
@import "summary_text";
