.navbar-lewagon {
  justify-content: space-between;
  background: $dark;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  margin-left: 20px;
}

.navbar-lewagon .navbar-icon img {
  width: 22px;
  margin-right: 32px;
  margin-left: auto;
  display: block;
}

.navbar-lewagon button {
  width: 22px;
  margin-right: 32px;
  background: transparent;
  border: none;
  box-shadow: none;
}




// .navbar-icon {
//   margin-right: 20px;
//   background-image: url("/images/echo_logo.png");
//   width: 2rem;
//   height: 2rem;
//   background-size: contain;
//   background-repeat: no-repeat;
//   // Ajoute ici tes styles personnalisés
// }
