.navbar-lewagon {
  max-width: 1224px;
  justify-content: space-between;
  background: $dark;
  padding-top: 20px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  margin-left: 10px;
}

.navbar-lewagon .navbar-icon img {
  width: 22px;
  margin-right: 32px;
  display: block;
}

.navbar-lewagon .navbar-icon {
  width: 22px;
  margin-right: 20px;
  display: block;
}

.navbar-lewagon button {
  width: 22px;
  margin-right: 32px;
  background: transparent;
  border: none;
  box-shadow: none;
}

.navbar-lewagon .navbar-search img {
  width: 22px;
  margin-right: 5px;
  display: block;
}





// .navbar-icon {
//   margin-right: 20px;
//   background-image: url("/images/echo_logo.png");
//   width: 2rem;
//   height: 2rem;
//   background-size: contain;
//   background-repeat: no-repeat;
//   // Ajoute ici tes styles personnalisés
// }
