
.answer-button.correct-answer {
  background-color: $green;
  color: white;
}

.answer-button.wrong-answer {
  background-color: $red;
  color: white;
}

.answer-button.disabled-answer {
  opacity: 0.7;
  pointer-events: none;
}

.answer-button {
  display: flex;
  width: 100%;
  align-items: center;
  background: $light-gray;
  border: none;
  border-radius: 8px;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 14px;

}

.answer-letter {
  font-family: "Inter", sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #222;
  color: #fff;
  border-radius: 8px;
  width: 24px;
  height: 24px;
  font-weight: bold;
  margin-right: 8px;
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
