.results-content {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
height: 100%;
}


.results-content h1 {
font-size: 22px;
}

.results-content h2 {
font-size: 18px;
}
