
.loading-bar{
        display: block;
        position: relative;
        height: 12px;
        width: 50%;
        border: 1px solid #fff;
        border-radius: 10px;
        overflow: hidden;
      }
      .loading-bar:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0;
        background: #FFFFFF;
        animation: 6s prog ease-in infinite;
      }

      @keyframes prog {
        to  {   width: 100%;}
      }

.spinner {
  margin-top: 60px; // espace au-dessus du spinner
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px; // adapte la hauteur si besoin
  flex-direction: column;
   // espace entre le spinner et le contenu suivant

}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-bottom: 18px; // espace entre le spinner et le texte
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }


.loadertag, .loadertag:before, .loadertag:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loadertag {
  color: #9d9c9c;
  font-size: 1px; /* taille réduite */
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loadertag:before,
.loadertag:after {
  content: '';
  position: absolute;
  top: 0;
}
.loadertag:before {
  left: -2.5em; /* réduit l'espacement */
  animation-delay: -0.32s;
}
.loadertag:after {
  left: 2.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}

