
// il faut de plus d'espace entre les différents h1, h2, h3

.summary-text h1 {
  font-family: "Inter", sans-serif, bold;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.summary-text h2 {
  font-family: "Inter", sans-serif;
  font-weight: semibold;
  font-size: 20px;
  margin-bottom: 18px;
  margin-top: 18px;
}

.summary-text h3 {
  font-family: "Inter", sans-serif, regular;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.6;
}

.summary-text li {

  font-family: "Inter", sans-serif, regular;
  margin-bottom: 8px;
  margin-top: 8px;
}
