.tag-custom-container {
  text-align: center;
  display: inline-flex;
  align-items: center;
  gap: 0.95rem;
}

.tag-custom-button {
  color: $light-gray;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  text-decoration: underline;
  display: block;
  background-color: inherit;
  border: none;
  padding: 0px;
  text-decoration: none;
}

.tag-custom-button-shift {
  color: $green;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  text-decoration: none;
  display: block;
  background-color: inherit;
  border: none;
  padding: 0px;
}
